/* Box sizing */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* body reset */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* image reset */
img,
picture {
  display: block;
  width: 100%;
}

/* form elements reset */
input,
button,
textarea,
select {
  font: inherit;
}

/* utility classes */
.flex {
  display: flex;
  gap: var(--gap, 16px);
}

.grid {
  display: grid;
  gap: var(--gap, 16px);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
